.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
  
.square {
    border: 1px solid;
    background-color: aqua;
    font-size: xx-large;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: 50px;
    cursor: pointer;
}

#game-state {
    text-align: center;
    font-size: x-large;
}
  
